*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block{
    width: 150px;
    height: 150px;
    background-color: gold;
    flex-grow: 1;
}
block2{
    background-color: green;
    order: -1;
    flex-grow: 1;
}
.flex{
    display: flex;
    justify-content: center;
    /* column-gap: 20px; */
    /* height: 80vh; */
    border: 10px solid red;
    align-items: center;
    /* ставить в колонки или подряд  при использование этого тега "column" жустифлай-контент и алаин-итемс меняются свойствами*/
    /* flex-direction: row; */
    /* перемешение  блоков */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* row-gap: 20PX; */
    gap: 20px;
}