*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .block{
    width: 150px;
    height: 150px;
    background-color: gold;
    margin: 5px;
}
.relative{
    background-color: red;
    position: relative;
    top: 20px;
    left: 170px;
}
.absolute{
    background-color: green;
    position: absolute;
    top: 20px;
    left: 170px;
}
.fixed{
    background-color: black;
    position: fixed;
    left: 400px;
    top: 100px;
    /* контролирует слои  */
    /* z-index: 1; */
/* }
.stiky{
    background-color: darkorange;
    position: sticky;
    left: 400px;
    top: 100px;
    bottom: 100px;
}
.box{
    border: 10px solid black;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: auto;
} */
 /* .block{
    width: 150px;
    height: 150px;
    background-color: gold;
    position: absolute;
    animation-name: anime;
    animation-duration: 2s;
    /* скорость движении анимации */
    /* animation-timing-function:linear ;
    /* повтор анимации */
    /* animation-iteration-count: 2; */
    /* движение анимации  */
    /* animation-direction: alternate; */
    /* задержка анимации */
    /* animation-delay: 1s; */
    /* где заканчивается анимация */
    /* animation-fill-mode:both ; */
 /* } */
 /*псевдо класс-особое состояние "hover" когда наводишь курсор */
 /* .block:hover{ */
    /* background-color: red; */
    /* animation-play-state: paused; */
    /* border-radius: 50%; */
 /* } */
 /* @keyframes anime{
    0%{
        left: 0;
        top: 200px;
    }
    100%{
        left: 500px;
        top: 200px;
        transform: rotate3d(1, 1, 1, 45deg);
    }
 } */ 
/* задание с анимацией */
/* .block{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
   transform: translate(-50%, 0);
    left: 50%;
    border-radius: 50%;
    top: -100%;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.red{
    animation-name: red;
}
@keyframes red{
    100%{
       top: 50px;
    }
}
.gold{
    animation-name: gold;
    background-color: gold;
    animation-delay: 1s;
}
@keyframes gold{
    100%{
        top: 300px;
    }
}
.green{
    animation-name: green;background-color: green;
    animation-delay: 2s;
}
@keyframes green{
    100%{
        top: 550px;
    }
} */