*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.title{
    color: red;
    text-align: center;
}
.text{
    color: blueviolet;background-color: gold;
    width: 400px;
    height: 50px;
    display: inline;
}
/* это id можно только один раз один текст */
#title{
    color: blue;
    background-color: red;
    width: 400px;
    height: 50px;
    
}
i{
    background-color: aqua;
    width: 1000px;
    height: 100px;
    display: inline-block;
}
b{
    background-color: green;
    width: 400px;
    height: 50px;
    /* display: block; */
}
.block{
    width: 150px;
    height: 150px;
    background-color: gold;
    margin: 5px;
}
.block2{
    background-color: red;
    /* margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 70px;
    margin-left: 60px; */
    margin: 50px auto;
    /*  auto-это централизация */
    padding: 15px;
    box-sizing: border-box;
}